body {
    margin: 0;
}

#playerinfo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    display: none;
    height: 100vh;
    width: 100%;
}

#players {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#self {
    height: 70%;
    width: 100%;
}

.player {
    border: solid 1px black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    display: none;
    position: absolute;
    top: 0;
    lefT: 0;
}

#disconnect {
    display: none;
    color: red;
    text-align: center;
}

p {
    font-size: 30px;
}

b {
    font-size: 30px;
}

b a {
    font-size: 15px;
    color: rgb(129, 129, 129);
}


.cards {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards h1 {
    height: 120px;
}

#card {
    width: 241.5px;
    height: 362px;
    background-image: url('./textures/uno-back.png');
}

#hand {
    border: 1px solid black;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: left;
}