body {
    margin: 0;
    overflow: hidden;
    background: url('textures/background.jpeg');
}

#playerinfo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    display: none;
    height: 100vh;
    width: 100%;
}

#players {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
}

#self {
    height: 85%;
    width: 100%;
    background: linear-gradient(to right, rgb(250, 33, 33, 0.5), rgb(33, 33, 250, 0.5));
}

.player {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px white;
}

#start {
    display: none;
    position: absolute;
    top: 0;
    lefT: 0;
}

#disconnect {
    display: none;
    color: red;
    text-align: center;
}

p {
    font-size: 20px;
}

b {
    font-size: 20px;
}

b a {
    font-size: 15px;
    color: rgb(129, 129, 129);
    text-shadow: none;
}

.disconnected {
    color: red;
}

#topcard {
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px white;
}

#topcard h1 {
    height: 120px;
}

#topcard #card {
    width: 120px;
    height: 180px;
    background-image: url('./textures/uno-back.png');
    background-size: 100%;
}

#hand {
    width: 59%;
    height: 100%;
    float: left;
    border-left: 1px solid white;
}

#cards-row {
    width: 100%;
    height: 45%;
    margin-top: 4%;
    border-bottom: 1px solid white;
    position: relative;
}

#buttons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons button {
    font-size: 50px;
    height: 100px;
    width: 200px;
}

.cards {
    width: 120px;
    height: 180px;
    top: 0;
    background-size: 1400%;
    background-image: url('./textures/cards.png');
    position: absolute;
    transition: top 0.25s;
    border-radius: 25px;
}

.cards:hover {
    top: -40px;
    cursor: pointer;
}