body {
    margin: 0;
}

#playerinfo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#players {
    width: 100%;
    height: 300px;
    display: none;
    justify-content: center;
}

.player {
    border: solid 1px black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    display: none;
    position: absolute;
}

#disconnect {
    display: none;
    color: red;
    text-align: center;
}

p {
    font-size: 25px;
}

b {
    font-size: 30px;
}

p a {
    font-size: 15px;
    color: rgb(129, 129, 129)
}